.card{
  width: 400px;
  height: 400px;
  background-color: black;
  border-color: white;
  color: white;
  margin-bottom: 2rem;
  margin-right: 5rem;
  display: inline-block;
}

#image-holder{
  width: 400px;
  height: 200px;
}

@media screen and (max-width: 550px) {
  .card{
    width: 300px;
    height: 400px;
    background-color: black;
    border-color: white;
    color: white;
    margin-bottom: 2rem;
    display: inline-block;
  }

  #image-holder{
    width: 300px;
    height: 200px;
  }
}

.card:hover {
  border-color: blue;
}



.card-title{
  text-align: center;
  font-family: 'Koulen';
}

.card-text{
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Kite One';
}
