body{
  background-color: black;
  color: white;
}

#sad-404{
  margin-left: 50%;
  margin-right: 50%;
}

#btn-container{
  position: relative;
  height:50px;
  top:50%;
}

#btn-holder{
  position:relative;
  height:50px;
  top:-50%;
}

/* For the start-page */
.home-blocks{
  float: left;
  width: 45%;
  margin: 2rem;
}

.home-blocks img {
  width: 100%;
  height: 100%;
}

/* #start-page-img{
  float: right;
  width: 610px;
  height: 610px;
} */

/* For mobile version (responsive) */
@media screen and (max-width: 1200px) {
  .home-blocks{
    clear: both;
    display: block;
    width: 100vw;
    padding: 2rem;
  }
}

#intro-heading{
  font-family: "koulen";
}

#intro-text{
  font-family: 'Kite One';
}
