#searchInput{
  width: 58%;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

#search-container{
  width: 73%;
}

#search-button{
  height: fit-content;
  background-color: black;
  z-index: auto;
}

#dropdownBtn{
  border-radius: 0;
  background-image: linear-gradient(90deg, #6C6C6C, #2A2A2A);
  position: static;
}

#dropdownMenu{
  display: none;
}

.input-group{
  position: relative;
    display: flex;
    flex-wrap: nowrap;
    /* align-items: stretch; */
    width: 100%;
}

@media screen and (max-width: 500px) {
  #search-container {
    width: 88%;
    position: relative;
    top: 0.5rem;
}
}
